# CONFIG_MUIC_RUSTPROOF_ON_USER is not set
#
# Kernel Performance Events and Counters
#
CONFIG_SLUB_DEBUG=y

#
# SAMSUNG EXYNOS SoCs Support
#
CONFIG_EXYNOS_ASV_MARGIN_TEST=y

#
# Kernel hacking
#
CONFIG_SLUB_DEBUG_ON=y
# CONFIG_DEBUG_KMEMLEAK is not set
CONFIG_DEBUG_PREEMPT=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_PI_LIST=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_PROVE_LOCKING=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_SG=y
CONFIG_TIMER_STATS=y
CONFIG_SCHEDSTATS=y
CONFIG_SEC_FILE_LEAK_DEBUG=y

#
# RCU Debugging
#
# CONFIG_DEBUG_PAGEALLOC is not set
CONFIG_ATOMIC64_SELFTEST=y

#
# Samsung Rooting Restriction Feature
#
# CONFIG_SEC_RESTRICT_ROOTING is not set
# CONFIG_SEC_RESTRICT_SETUID is not set
# CONFIG_SEC_RESTRICT_FORK is not set
# CONFIG_SEC_RESTRICT_ROOTING_LOG is not set

#
# Common Clock Framework
#
CONFIG_COMMON_CLK_DEBUG=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_TIMER_STATS=y

#
# TIMA RKP CRED Protection
#
# CONFIG_RKP_KDP is not set

#
# BCMDHD Debugging
#
CONFIG_BCMDHD_DEBUG_PAGEALLOC=y

# Samsung modem interface debugging
CONFIG_SEC_MODEM_DEBUG=y
CONFIG_SEC_MODEM_DEBUGFS=y

# Samsung modem interface MDM MHI driver RMNET DUMP
CONFIG_MHI_RMNET_DUMP=y

# Samsung audio debugfs
CONFIG_SND_SAMSUNG_DEBUGFS=y
CONFIG_SND_SOC_ES_STREAM_FS_STORER=y

CONFIG_HW_PERF_EVENTS=y
CONFIG_PERF_EVENTS=y
CONFIG_FTRACE=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_HW_PERF_EVENTS=y
CONFIG_LOCAL_TIMERS=y
CONFIG_LOCAL_TIMERS=y
CONFIG_GATOR=m

#
# Support T32 onchip breakpoint
#
CONFIG_SKIP_HW_BREAKPOINT=y

# BAT Automation Test Feature
CONFIG_SEC_BAT_AUT=y

#
# Character devices
#
CONFIG_DEVMEM=y
