CONFIG_BCM4358=y
CONFIG_BCMDHD_PCIE=y
CONFIG_BT_BCM4358=y
CONFIG_CAMERA_ZERO=y
CONFIG_CHARGER_MAX77843=y
CONFIG_DISABLE_SAVE_CAPACITY_MAX=y
CONFIG_EXYNOS_DECON_LCD_MCD=y
CONFIG_FIX_CHG_FQ_4MHZ=y
CONFIG_FUELGAUGE_MAX77843=y
CONFIG_HV_MUIC_MAX77843_AFC=y
CONFIG_LCD_ALPM=y
CONFIG_LCD_HMT=y
CONFIG_LEDS_MAX77843_RGB=y
CONFIG_MFD_FLORIDA=y
CONFIG_MFD_MAX77843=y
CONFIG_MOTOR_DRV_MAX77843=y
CONFIG_MUIC_ADCMODE_SWITCH_WA=y
CONFIG_MUIC_MAX77843_IGNORE_ADCERR_WA=y
CONFIG_MUIC_MAX77843_RESET_WA=y
CONFIG_MUIC_MAX77843=y
CONFIG_PANEL_S6E3HF2_DYNAMIC=y
CONFIG_REGULATOR_MAX77843=y
CONFIG_SEC_OOM_KILLER=y
CONFIG_SND_SOC_ARIZONA=y
CONFIG_SND_SOC_CLEARWATER=y
CONFIG_SND_SOC_FLORIDA=y
CONFIG_SND_SOC_SAMSUNG_ZERO_CLEARWATER=y
CONFIG_SND_SOC_SAMSUNG_ZERO_FLORIDA=y
CONFIG_SND_SOC_WM_ADSP=y
CONFIG_TOUCHSCREEN_FTS=y
CONFIG_WIRELESS_CHARGER_BQ51221=y
CONFIG_WIRELESS_CHARGER_INBATTERY=y
CONFIG_WLAIBSS=y
CONFIG_WL_RELMCAST=y
