CONFIG_BOUNCE=y
CONFIG_CHARGER_MAX77833=y
CONFIG_DIAG_CHAR=y
CONFIG_DIAGFWD_BRIDGE_CODE=y
CONFIG_DIAG_OVER_USB=y
CONFIG_ESE_P3_LSI=y
CONFIG_ESOC_CLIENT=y
CONFIG_ESOC_DEV=y
CONFIG_ESOC_MDM_4x=y
CONFIG_ESOC_MDM_DRV=y
CONFIG_ESOC=y
CONFIG_FUELGAUGE_MAX77833=y
CONFIG_HV_MUIC_MAX77833_AFC=y
CONFIG_IPC_ROUTER_SECURITY=y
CONFIG_IPC_ROUTER=y
CONFIG_LEDS_MAX77833_RGB=y
CONFIG_MDM_HSIC_PM=y
CONFIG_MFD_MAX77833=y
CONFIG_MHI=y
CONFIG_MOTOR_DRV_MAX77833=y
CONFIG_MSM_HSIC_SYSMON=y
CONFIG_MSM_IPC_ROUTER_HSIC_XPRT=y
CONFIG_MSM_QMI_INTERFACE=y
CONFIG_MSM_SUBSYSTEM_RESTART=y
CONFIG_MSM_SYSMON_COMM=y
CONFIG_MUIC_MAX77833_SHAKEID_WA=y
CONFIG_MUIC_MAX77833=y
CONFIG_PCI_EXYNOS_REDUCE_RESET_WAIT=y
CONFIG_QMI_ENCDEC=y
CONFIG_REGULATOR_MAX77833=y
CONFIG_RMNET_DATA_DEBUG_PKT=y
CONFIG_RMNET_DATA=y
CONFIG_SAMSUNG_USB2PHY_CAL=y
CONFIG_SAMSUNG_USB2PHY=y
CONFIG_SEC_DEBUG_MDM_SEPERATE_CRASH=y
CONFIG_SEC_NFC_IF_I2C=y
CONFIG_SEC_NFC_LDO_CONTROL=y
CONFIG_SEC_NFC_PRODUCT_N5=y
CONFIG_SEC_NFC=y
CONFIG_SENSORS_SSP_AK09911=y
CONFIG_SENSORS_SSP_ATUC128L5HAR=y
CONFIG_SENSORS_SSP_BMP280=y
CONFIG_SENSORS_SSP_MPU6500=y
CONFIG_SENSORS_SSP_STM=y
CONFIG_SND_SOC_ES705=y
CONFIG_SND_SOC_ES_I2C=y
CONFIG_SND_SOC_ESXXX_VEQ_EXTENDEDVOLUME=y
CONFIG_SWITCH_ANTENNA_EARJACK_IF=y
CONFIG_SWITCH_ANTENNA=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_PCI=y
CONFIG_USB_EHCI_S5P=y
CONFIG_USB_EHCI_TT_NEWSCHED=y
CONFIG_USB_QCOM_DIAG_BRIDGE=y
CONFIG_USB_QCOM_IPC_BRIDGE=y
CONFIG_USB_QCOM_KS_BRIDGE=y
CONFIG_USB_QCOM_MDM_BRIDGE=y
CONFIG_USB_SERIAL_CSVT=y
CONFIG_WLAN_REGION_CODE=100
CONFIG_ZONE_DMA_ALLOW_CUSTOM_SIZE=y
CONFIG_ZONE_DMA_FLAG=1
CONFIG_ZONE_DMA_SIZE_MBYTES=512
CONFIG_ZONE_DMA=y
