CONFIG_ARM_EXYNOS7420_BUS_DEVFREQ_TDNR=y
CONFIG_BATTERY_AGE_FORECAST=y
CONFIG_BCM4359=y
CONFIG_BCMDHD_PCIE=y
CONFIG_BCMDHD_PREALLOC_PKTIDMAP=y
CONFIG_BOUNCE=y
CONFIG_BT_BCM4359=y
CONFIG_CAMERA_NOBLE=y
CONFIG_CHARGER_MAX77833=y
CONFIG_DSIM_ESD_RECOVERY_NOPOWER=y
CONFIG_EPEN_WACOM_W9014=y
CONFIG_ESE_P3_LSI=y
CONFIG_FUELGAUGE_MAX77833=y
CONFIG_GPS_BCM47531=y
CONFIG_GPS_BCMxxxxx=y
CONFIG_HV_MUIC_MAX77833_AFC=y
CONFIG_INPUT_WACOM=y
CONFIG_KEYBOARD_ABOV_TOUCH=y
CONFIG_KEYBOARD_CYPRESS_TOUCH_MBR31X5=y
CONFIG_LCD_BURNIN_CORRECTION=y
CONFIG_LCD_HMT=y
CONFIG_LEDS_MAX77833_RGB=y
CONFIG_MFD_MAX77833=y
CONFIG_MOTOR_DRV_MAX77833=y
CONFIG_MST_NOBLE_TARGET=y
CONFIG_MUIC_MAX77833_SHAKEID_WA=y
CONFIG_MUIC_MAX77833=y
CONFIG_PANEL_S6E3HA3_DYNAMIC=y
CONFIG_REGULATOR_MAX77833=y
CONFIG_SEC_NFC_IF_I2C=y
CONFIG_SEC_NFC_LDO_CONTROL=y
CONFIG_SEC_NFC_PRODUCT_N5=y
CONFIG_SEC_NFC=y
CONFIG_SENSORS_SSP_NOBLELTE=y
CONFIG_SND_ESA_SA_EFFECT=y
CONFIG_SND_SAMSUNG_COMPR=y
CONFIG_SND_SAMSUNG_ELPE=y
CONFIG_SND_SAMSUNG_SEIREN_DMA=y
CONFIG_SND_SAMSUNG_SEIREN_OFFLOAD=y
CONFIG_SND_SOC_ARIZONA=y
CONFIG_SND_SOC_CLEARWATER=y
CONFIG_SND_SOC_SAMSUNG_NOBLE_CLEARWATER=y
CONFIG_SND_SOC_WM_ADSP=y
CONFIG_SWITCH_ANTENNA=y
CONFIG_TOUCHSCREEN_FTS5AD56=y
CONFIG_WIRELESS_CHARGER_HIGH_VOLTAGE=y
CONFIG_WIRELESS_CHARGER_MAX77900=y
CONFIG_WIRELESS_CHARGER_P9220=y
CONFIG_WIRELESS_CHARGER_THM=y
CONFIG_WLAIBSS=y
CONFIG_WL_RELMCAST=y
CONFIG_ZONE_DMA_ALLOW_CUSTOM_SIZE=y
CONFIG_ZONE_DMA_FLAG=1
CONFIG_ZONE_DMA_SIZE_MBYTES=512
CONFIG_ZONE_DMA=y
