CONFIG_EXYNOS_MIPI_LLI_MPHY=y
CONFIG_EXYNOS_MIPI_LLI=y
CONFIG_LINK_CONTROL_MSG_COMMAND=y
CONFIG_LINK_DEVICE_LLI=y
CONFIG_LINK_DEVICE_MEMORY=y
CONFIG_LINK_DEVICE_SPI=y
CONFIG_LINK_DEVICE_WITH_SBD_ARCH=y
CONFIG_LINK_POWER_MANAGEMENT_WITH_FSM=y
CONFIG_LINK_POWER_MANAGEMENT=y
CONFIG_MIPI_LLI=y
CONFIG_SEC_MODEM_V1=y
CONFIG_SENSORS_SSP_BBD=y
CONFIG_SENSORS_SSP_K6DS3TR=y
CONFIG_SENSORS_SSP_LPS25H=y
CONFIG_SENSORS_SSP_YAS537=y
CONFIG_SENSORS_SX9310_CP_LDO_CONTROL=y
CONFIG_SENSORS_SX9310_INIT_TOUCH_THRESHOLD=2000
CONFIG_SENSORS_SX9310_NORMAL_TOUCH_THRESHOLD=248
CONFIG_SENSORS_SX9310=y
CONFIG_SND_SOC_ES705=y
CONFIG_SND_SOC_ES_I2C=y
CONFIG_SND_SOC_ES_STREAM_FS_STORER=y
CONFIG_SND_SOC_ESXXX_UPDATE_VEQ_TABLE=y
CONFIG_SWITCH_ANTENNA_IF=y
CONFIG_UMTS_MODEM_SS333=y
CONFIG_WLAN_REGION_CODE=100
