CONFIG_DIAG_CHAR=y
CONFIG_DIAGFWD_BRIDGE_CODE=y
CONFIG_DIAG_OVER_USB=y
CONFIG_ESOC_CLIENT=y
CONFIG_ESOC_DEV=y
CONFIG_ESOC_MDM_4x=y
CONFIG_ESOC_MDM_DRV=y
CONFIG_ESOC=y
CONFIG_I2C_RTC6213N=y
CONFIG_IPC_ROUTER_SECURITY=y
CONFIG_IPC_ROUTER=y
CONFIG_MDM_HSIC_PM=y
CONFIG_MEDIA_RADIO_SUPPORT=y
CONFIG_MEDIA_TUNER_MC44S803=y
CONFIG_MEDIA_TUNER_MT20XX=y
CONFIG_MEDIA_TUNER_SIMPLE=y
CONFIG_MEDIA_TUNER_TDA18271=y
CONFIG_MEDIA_TUNER_TDA827X=y
CONFIG_MEDIA_TUNER_TDA8290=y
CONFIG_MEDIA_TUNER_TDA9887=y
CONFIG_MEDIA_TUNER_TEA5761=y
CONFIG_MEDIA_TUNER_TEA5767=y
CONFIG_MEDIA_TUNER_XC2028=y
CONFIG_MEDIA_TUNER_XC4000=y
CONFIG_MEDIA_TUNER_XC5000=y
CONFIG_MEDIA_TUNER=y
CONFIG_MHI=y
CONFIG_MSM_HSIC_SYSMON=y
CONFIG_MSM_IPC_ROUTER_HSIC_XPRT=y
CONFIG_MSM_QMI_INTERFACE=y
CONFIG_MSM_SUBSYSTEM_RESTART=y
CONFIG_MSM_SYSMON_COMM=y
CONFIG_PCI_EXYNOS_REDUCE_RESET_WAIT=y
CONFIG_QMI_ENCDEC=y
CONFIG_RADIO_ADAPTERS=y
CONFIG_RADIO_RTC6213N=y
CONFIG_RMNET_DATA_DEBUG_PKT=y
CONFIG_RMNET_DATA=y
CONFIG_SAMSUNG_USB2PHY_CAL=y
CONFIG_SAMSUNG_USB2PHY=y
CONFIG_SEC_DEBUG_MDM_SEPERATE_CRASH=y
CONFIG_SENSORS_SSP_AK09911=y
CONFIG_SENSORS_SSP_ATUC128L5HAR=y
CONFIG_SENSORS_SSP_BMI168=y
CONFIG_SENSORS_SSP_BMP280=y
CONFIG_SENSORS_SSP_STM=y
CONFIG_SENSORS_SX9310_CP_LDO_CONTROL=y
CONFIG_SENSORS_SX9310_INIT_TOUCH_THRESHOLD=2000
CONFIG_SENSORS_SX9310_NORMAL_TOUCH_THRESHOLD=248
CONFIG_SENSORS_SX9310=y
CONFIG_SND_SOC_ES705=y
CONFIG_SND_SOC_ES_I2C=y
CONFIG_SND_SOC_ES_STREAM_FS_STORER=y
CONFIG_SND_SOC_ESXXX_UPDATE_VEQ_TABLE=y
CONFIG_SND_SOC_ESXXX_VEQ_EXTENDEDVOLUME=y
CONFIG_SWITCH_ANTENNA_EARJACK=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_PCI=y
CONFIG_USB_EHCI_S5P=y
CONFIG_USB_EHCI_TT_NEWSCHED=y
CONFIG_USB_QCOM_DIAG_BRIDGE=y
CONFIG_USB_QCOM_IPC_BRIDGE=y
CONFIG_USB_QCOM_KS_BRIDGE=y
CONFIG_USB_QCOM_MDM_BRIDGE=y
CONFIG_USB_SERIAL_CSVT=y
CONFIG_WLAN_REGION_CODE=100
