/*
 * SAMSUNG UNIVERSAL7420 board device tree source
 *
 * Copyright (c) 2014 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos7420-zenlte_common.dtsi"
#include "exynos7420-zenlte_eur_battery_00.dtsi"
#include "exynos7420-zenlte_gpio_chn_mdm_00.dtsi"
#include "exynos7420-zenlte_modem-mdm9x35.dtsi"
#include "exynos7420-zenlte_fingerprint-sensor_00.dtsi"
#include "exynos7420-zenlte_motor.dtsi"
#include "exynos7420-zenlte_svcled.dtsi"
#include "exynos7420-zenlte_mst.dtsi"
#include "exynos7420-zenlte_display_00.dtsi"

/ {
	model = "Samsung ZEN LTE MDM Bringup board based on Exynos7420(EVT1), mPOP";
	model_info-chip = <7420>;
	model_info-platform = "android";
	model_info-subtype = "samsung";
	model_info-hw_rev = <0>;
	model_info-hw_rev_end = <0>;
	compatible = "samsung,ZEN LTE MDM ,Bringup00", "samsung,exynos7420";

	spi_0: spi@14d20000 {
		/delete-property/ dma-mode;
		/delete-property/ dmas;
		/delete-property/ dma-names;

		num-cs = <1>;
		status = "okay";

		audio_codec: wm1840@0 {
			compatible = "wlf,wm1840";
			reg = <0x0>;
			spi-max-frequency = <25000000>;
			interrupts = <5 0 0>;
			interrupt-parent = <&gpa2>;

			gpio-controller;
			#gpio-cells = <2>;

			pinctrl-names ="default";
			pinctrl-0 = <&codec_reset &codec_irq>;

			wlf,reset = <&gpf4 0 0>;
			wlf,init-mic-delay = <30>;
			wlf,use-jd-gpio;
			wlf,micd-clamp-mode = <0x8>;
			wlf,micd-detect-debounce = <300>;
			wlf,micd-pol-gpio = <0>;
			wlf,micd-bias-start-time = <0x1>;
			wlf,micd-rate = <0x7>;
			wlf,micd-dbtime = <0x1>;
			wlf,micd-timeout = <1000>;
			wlf,micd-force-micbias;
			wlf,hpdet-moisture-imp = <2000>;
			wlf,hpdet-moisture-debounce = <40>;
			wlf,hpdet-channel = <1>;
			wlf,hpdet-ext-res = <33>;
			wlf,hpdet-short-circuit-imp = <3>;
			wlf,micd-ranges = <
				116 226
				173 582
				321 115
				752 114
				1257 217
			>;
			wlf,hs-mic = <3>;
			wlf,micd-configs = <
				0x0 2 0
			>;

			wlf,micbias1 = <1800 0 1 0 0>;
			wlf,micbias2 = <2800 0 1 0 0>;
			wlf,micbias3 = <1800 0 1 0 0>;
			wlf,micbias4 = <1800 0 1 0 0>;

			wlf,gpio-defaults = <
				0xffffffff 0xffffffff /* GPIO1 */
				0xffffffff 0xffffffff /* GPIO2 */
				0xffffffff 0xffffffff /* GPIO3 */
				0xffffffff 0xffffffff /* GPIO4 */
				0xffffffff 0xffffffff /* GPIO5 */
				0xffffffff 0xffffffff /* GPIO6 */
				0xffffffff 0xffffffff /* GPIO7 */
				0xffffffff 0xffffffff /* GPIO8 */
				0xffffffff 0xffffffff /* MIF1SCLK / GPIO9 */
				0xffffffff 0xffffffff /* MIF1SDA / GPIO10 */
				0xffffffff 0xffffffff /* MIF2SCLK / GPIO11 */
				0xffffffff 0xffffffff /* MIF2SDA / GPIO12 */
				0xffffffff 0xffffffff /* MIF3SCLK / GPIO13 */
				0xffffffff 0xffffffff /* MIF3SDA / GPIO14 */
				0x00002000 0x00006000 /* AIF1TXDAT / GPIO15 */
				0x00002000 0x00006000 /* AIF1BCLK / GPIO16 */
				0x00002000 0x00006000 /* AIF1RXDAT / GPIO17 */
				0x00002000 0x00006000 /* AIF1LRCLK / GPIO18 */
				0x00002000 0x00006000 /* AIF2TXDAT / GPIO19 */
				0x00002000 0x00006000 /* AIF2BCLK / GPIO20 */
				0x00002000 0x00006000 /* AIF2RXDAT / GPIO21 */
				0x00002000 0x00006000 /* AIF2LRCLK / GPIO22 */
				0x00002000 0x00006000 /* AIF3TXDAT / GPIO23 */
				0x00002000 0x00006000 /* AIF3BCLK / GPIO24 */
				0x00002000 0x00006000 /* AIF3RXDAT / GPIO25 */
				0x00002000 0x00006000 /* AIF3LRCLK / GPIO26 */
				0x00002000 0x00006000 /* AIF4TXDAT / GPIO27 */
				0x00002000 0x00006000 /* AIF4BCLK / GPIO28 */
				0x00002000 0x00006000 /* AIF4RXDAT / GPIO29 */
				0x00002000 0x00006000 /* AIF4LRCLK / GPIO30 */
				0x00002000 0x0000e000 /* DMICCLK4 / GPIO31 */
				0x00002000 0x0000e000 /* DMICDAT4 / GPIO32 */
				0xffffffff 0xffffffff /* DMICCLK5 / GPIO33 */
				0xffffffff 0xffffffff /* DMICDAT5 / GPIO34 */
				0xffffffff 0xffffffff /* DMICCLK6 / GPIO35 */
				0xffffffff 0xffffffff /* DMICDAT6 / GPIO36 */
				0xffffffff 0xffffffff /* SPKCLK1 / GPIO37 */
				0xffffffff 0xffffffff /* SPKCLK2 / GPIO38 */
				0xffffffff 0xffffffff /* SPKDAT1 / GPIO39 */
				0xffffffff 0xffffffff /* SPKDAT2 / GPIO40 */
			>;

			wlf,gpsw = <0x3>;
			wlf,micd-software-compare;
			wlf,micd-open-circuit-declare = <1>;
			wlf,jd-wake-time = <5000>;

			wlf,max-channels-clocked = <2 0 0 0>;
			/* 0:MICVDD 1:MICBIAS1 2:MICBIAS2 3:MICBIAS3 */
			wlf,dmic-ref = <1 2 1 0 0 0>;
			/* 1st cell:IN1L 2rd cell:IN1R 3nd cell:IN2L 4th cell:IN2R... 12th cell:IN6R */
			wlf,inmode = <2 2 1 1 2 2 2 2 0 0 0 0>;
			/* 1st cell:OUT1 2nd cell:OUT2 3rd cell:OUT3... 6th cell:OUT6 */
			wlf,out-mono = <0 1 1 0 0 0>;

			wlf,rev-specific-fw;

			DCVDD-supply = <&ldo26_reg>;
			AVDD-supply = <&ldo16_reg>;
			LDOVDD-supply = <&ldo16_reg>;
			DBVDD1-supply = <&ldo16_reg>;

			CPVDD-supply = <&ldo16_reg>;
			DBVDD2-supply = <&ldo16_reg>;
			DBVDD3-supply = <&ldo16_reg>;
			DBVDD4-supply = <&ldo16_reg>;
			SPKVDDL-supply = <&ldo16_reg>;
			SPKVDDR-supply = <&ldo16_reg>;

			adsps {
				#address-cells = <1>;
				#size-cells = <0>;

				adsp@0FFE00 {
					reg = <0x0FFE00>;
					firmware {
						TRACE {
							wlf,wmfw-file = "trace";
							wlf,bin-file = "None";
							wlf,compr-caps = <1 8 0x4 1 8000 16000 24000>;
						};
					};
				};
				adsp@17FE00 {
					reg = <0x17FE00>;
					firmware {
						TX_NB {
							wlf,wmfw-file = "tx-nb";
							wlf,bin-file = "None";
						};
						TX_WB {
							wlf,wmfw-file = "tx-wb";
							wlf,bin-file = "None";
						};
						TX_SWB_INTERVIEW {
							wlf,wmfw-file = "tx-swb";
							wlf,bin-file = "None";
						};
						TX_SWB_CONVERSATION {
							wlf,wmfw-file = "tx-swb";
							wlf,bin-file = "None";
						};
						TX_FB_MEETING {
							wlf,wmfw-file = "tx-fb-meeting";
							wlf,bin-file = "tx-fb-meeting";
						};
					};
				};
				adsp@1FFE00 {
					reg = <0x1FFE00>;
					firmware {
						TX_NB {
							wlf,wmfw-file = "tx-nb";
							wlf,bin-file = "tx-nb";
						};
						TX_WB {
							wlf,wmfw-file = "tx-wb";
							wlf,bin-file = "tx-wb";
						};
						TX_SWB_INTERVIEW {
							wlf,wmfw-file = "tx-swb";
							wlf,bin-file = "tx-swb-interview";
						};
						TX_SWB_CONVERSATION {
							wlf,wmfw-file = "tx-swb";
							wlf,bin-file = "tx-swb-conversation";
						};
						TX_WB_MEETING {
							wlf,wmfw-file = "tx-wb-meeting";
							wlf,bin-file = "tx-wb-meeting";
						};
					};
				};
				adsp@27FE00 {
					reg = <0x27FE00>;
					firmware {
						RX_NB {
							wlf,wmfw-file = "rx-anc-nb";
							wlf,bin-file = "rx-anc-nb";
						};
						RX_WB {
							wlf,wmfw-file = "rx-anc-wb";
							wlf,bin-file = "rx-anc-wb";
						};
					};
				};
				adsp@37FE00 {
					reg = <0x37FE00>;
					firmware {
						VOICECONTROL {
							wlf,wmfw-file = "ez2-control";
							wlf,bin-file = "ez2-control";
							wlf,compr-caps = <1 1 0x4 1 16000>;
						};
						LPSD {
							wlf,wmfw-file = "ez2-control";
							wlf,bin-file = "lpsd-control";
						};
					};
				};
				adsp@2FFE00 {
					reg = <0x2FFE00>;
					firmware {
						DSM {
							wlf,wmfw-file = "dsm";
							wlf,bin-file = "None";
						};
					};
				};
			};
			controller-data {
				cs-gpio = <&gpd8 1 0>;
				samsung,spi-feedback-delay = <0>;
			};
		};
	};

	spi_1: spi@14d30000 {
		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&spi1_mosi_sck_ssn &spi1_miso>;

		num-cs = <1>;
		status = "okay";

		STM32F@0 {
			compatible = "ssp,STM32F";
			reg = <0>;
			spi-max-frequency = <5000000>;
			spi-cpol;
			spi-cpha;
			pinctrl-names = "default";
			pinctrl-0 = <&ssp_rst &ssp_ap_int &ssp_mcu_int1 &ssp_mcu_int2>;

			gpio-controller;
			#gpio-cells = <2>;
			ssp,mcu_int1-gpio = <&gpa2 7 0x00>;
			ssp,mcu_int2-gpio = <&gpf4 4 0x00>;
			ssp,ap_int-gpio = <&gpf4 5 0x01>;
			ssp,rst-gpio = <&gpa3 6 0x01>;
			ssp,acc-position = <0>;
			ssp,mag-position = <7>;
			ssp,prox-hi_thresh = <2000>;
			ssp,prox-low_thresh = <1400>;
			ssp-glass-type = <1>;
			ssp-acc-type = <2>;
			ssp,acc-dot = <1>;
			ssp,mag-array = /bits/ 8 <120 88 105 111 98 225 1 139 211 53
						186 36 1 179 2 179 251 181 46 211
						190 0 61 186 13 5 174>;

			controller-data {
				cs-gpio = <&gpd6 3 0>;
				samsung,spi-feedback-delay = <0>;
			};
		};
	};

/*
	gps {
		compatible = "samsung,exynos54xx-bcm4753";

		pinctrl-names = "default";
		pinctrl-0 = <&ssp_gps_pwr_en &ssp_host_wake>;

		gpios = <&gpf4 7 0x1
			      &gpa3 2 0xf
				>;
		status = "okay";
	};
*/

	pinctrl@15690000 {
		ese_pwr_req: ese-pwr-req {
			samsung,pins = "gpr2-0";
			samsung,pin-function = <0x1>;
			samsung,pin-pud = <1>;
			samsung,pin-pud-pdn = <1>;
		};
		acokb_irq: acokb-irq {
			samsung,pins = "gpr1-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	detectcable {
		status = "okay";
		compatible = "detectcable";
		pinctrl-names = "default";
		pinctrl-0 = <&acokb_irq>;
		acokb,gpio_detectcable = <&gpr1 2 0>;
	};

	hsi2c@13670000 {
		status = "okay";
		pn547@2B {
			compatible = "pn547";
			reg = <0x2B>;

			interrupts = <6 0 0>;
			interrupt-parent = <&gpa0>;

			pinctrl-names = "default";
			pinctrl-0 = <&nfc_pn547_en &nfc_n5_firm &ese_pwr_req>;
			pn547,ven-gpio = <&gpf1 5 0>;
			pn547,firm-gpio = <&gpf5 4 0>;
			pn547,irq-gpio = <&gpa0 6 0>;
			pn547,clk_req-gpio = <&gpa2 6 0xf>;
			pn547,pwr_req = <&gpr2 0 0x1>;
			pn547,i2c_1p8 = "VDD20_1P8_AP";
		};
	};

	spi_3: spi@14d50000 {
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi3_bus &spi3_cs_func>;

		ese_spi@0 {
			compatible = "p61";
			reg = <0>;
			spi-max-frequency = <10000000>;

			gpio-controller;
			#gpio-cells = <2>;

			p61-mosipin = <&gpg4 3 0>;
			p61-misopin = <&gpg4 2 0>;
			p61-cspin = <&gpg4 1 0>;
			p61-clkpin = <&gpg4 0 0>;
			p3-vdd-1p8= "VDD_1.8V_ESE";

			controller-data {
				cs-gpio = <&gpg4 1 0>;
				samsung,spi-feedback-delay = <0>;
			};
		};
	};

	audio_pdata {
		compatible = "samsung,audio-pdata";
		pinctrl-names = "default";
		pinctrl-0 = <&audio_clk_sel>;

		imp_table = <
			/* min      max gain */
			   0         13    0
			  14         42    3
			  43        100    6
			 101        200    9
			 201        450   11
			 451       1000   11
			1001 0x7fffffff    6
		>;

		clk_sel_gpio = <&gpf5 6 0>;
		seamless_voicewakeup;
		status = "okay";
	};

	antenna_switch {
		status = "okay";
		compatible = "antenna_switch";
		pinctrl-names = "default";
		pinctrl-0 = <&antenna_switch_en>;
		antenna_switch,gpio_antenna_switch = <&gpr3 6 0>;
	};

	pinctrl@10580000 {
		codec_irq: codec-irq {
			samsung,pins = "gpa2-5";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
		};
		max98505_ctrl: max98505-ctl {
			samsung,pins ="gpa2-0";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn =<2>;
			samsung,pin-pud-pdn = <0>;
		};
		ssp_mcu_int1: ssp-mcu-int1 {
			samsung,pins = "gpa2-7";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
		ssp_rst: ssp-rst {
			samsung,pins = "gpa3-6";
			samsung,pin-function = <1>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <3>;
		};
		grip_irq: grip-irq {
			samsung,pins = "gpa2-6";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <3>;
		};
		grip_ldo: grip-ldo {
			samsung,pins = "gpr1-5";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <3>;
		};
	};

	pinctrl@13470000 {
		max98505_i2c: max98505-i2c {
			samsung,pins = "gpd2-0", "gpd2-1";
			samsung,pin-pud = <0>;
			status = "okay";
		};
	};

	pinctrl@14870000 {
		codec_reset: codec-reset {
			samsung,pins ="gpf4-0";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn =<3>;
			samsung,pin-pud-pdn = <1>;
			samsung,pin-val = <0>;
		};
		audio_clk_sel: audio-clk-sel {
			samsung,pins ="gpf5-6";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn =<3>;
			samsung,pin-pud-pdn = <1>;
			samsung,pin-val = <0>;
		};
		ssp_mcu_int2: ssp-mcu-int2 {
			samsung,pins = "gpf4-4";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
		ssp_ap_int: ssp-ap-int {
			samsung,pins = "gpf4-5";
			samsung,pin-function = <1>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <3>;
		};
		sub_det: sub-det {
			samsung,pins = "gpf4-7";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl@15690000 {
		sub_pmic_irq: sub-pmic-irq {
			samsung,pins ="gpr2-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};		
		antenna_switch_en: antenna-switch-en {
                        samsung,pins = "gpr3-6";
                        samsung,pin-function = <1>;
                        samsung,pin-pud = <0>;
                        samsung,pin-val = <0>;
                };		
	};

	hsi2c@13640000 {
		status = "okay";
		max98505@31 {
			compatible = "maxim,max98505";
			reg = <0x31>;
			pinctrl-names = "default";
			pinctrl-0 = <&max98505_i2c &max98505_ctrl>;
			gpios = <&gpd2 1 0
				&gpd2 0 0
				>;
			i2c-gpio,delay-us = <2>;
			maxim,platform_type = <0>;
			maxim,spk_vol = <0x14>;
			maxim,sysclk = <12288000>;
			maxim,vmon_slot = <0>;
			maxim,platform_info = <0 0x4000 0x0F010203 0x0FF10203 0x00000000 40>;
			maxim,boost_step = <
								0x0F 0x0F 0x0F 0x0F
								0x0F 0x0F 0x0F 0x0F
								0x0F 0x0F 0x0F 0x0F
								0x0F 0x0F 0x02 0x00
								>;
			maxim,adc_threshold = <7>;
		};
	};

	hsi2c@13660000 {
		s2mps15_pmic@66 {
			regulators {
				buck1_reg: BUCK1 {
					regulator-name = "vdd_mif";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck2_reg: BUCK2 {
					regulator-name = "vdd_atlas";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1300000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck3_reg: BUCK3 {
					regulator-name = "vdd_apollo";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1200000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck4_reg: BUCK4 {
					regulator-name = "vdd_int";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck5_reg: BUCK5 {
					regulator-name = "vdd_disp_cam0";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck6_reg: BUCK6 {
					regulator-name = "vdd_g3d";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck8_reg: BUCK8 {
					regulator-name = "vdd_lldo";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <3>;
				};

				buck9_reg: BUCK9 {
					regulator-name = "vdd_mldo";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <3>;
				};

				ldo2_reg: LDO2 {
					regulator-name = "vqmmc";
					regulator-min-microvolt = <1620000>;
					regulator-max-microvolt = <3300000>;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
					regulator-boot-on;
				};

				ldo8_reg: LDO8 {
					regulator-name = "vdd_ldo8";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo15_reg: LDO15 {
					regulator-name = "tsp_io";
					regulator-min-microvolt = <1850000>;
					regulator-max-microvolt = <1850000>;
				};

				ldo16_reg: LDO16 {
					regulator-name = "VCC_1.8V_CODEC_PMIC";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				ldo17_reg: LDO17 {
					regulator-name = "VCC_MOTOR_3.0";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3000000>;
				};

				ldo18_reg: LDO18 {
					regulator-name = "HRM_VDD_1.8V";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1850000>;
				};

				ldo19_reg: LDO19 {
					regulator-name = "MST_LEVEL_3.0V";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3000000>;
				};

				ldo20_reg: LDO20 {
					regulator-name = "VDD20_1P8_AP";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				ldo21_reg: LDO21 {
					regulator-name = "vtouch_3.3v";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
				};

				ldo22_reg: LDO22 {
					regulator-name = "VDD22_1P2_AP";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
				};

				ldo23_reg: LDO23 {
					regulator-name = "VDD_1.8V_ESE";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				ldo24_reg: LDO24 {
					regulator-name = "V_HRM_3.3V";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3350000>;
				};

				ldo25_reg: LDO25 {
					regulator-name = "PROX_LED_3.3V";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
				};

				ldo26_reg: LDO26 {
					regulator-name = "VDD_1.2V_CODEC";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
				};
			};
		};
	};

	hsi2c@13680000 {
		status = "okay";

		s2mpb02@59 {
			compatible = "samsung,s2mpb02";
			reg = <0x59>;

			s2mpb02,irq-gpio = <&gpr2 2 0>;
			pinctrl-names = "default";
			pinctrl-0 = <&sub_pmic_irq>;

			regulators {
				_buck1_reg: s2mpb02-buck1 {
					regulator-name = "VDD_PB02_1P3";
					regulator-min-microvolt = <1300000>;
					regulator-max-microvolt = <1300000>;
					regulator-always-on;
					regulator-boot-on;
				};
			};
		};
	};

	hsi2c@14E70000 {
		touchkey@20 {
			abov,sub-det = <&gpf4 7 0>;
		};
	};

	dwmmc0@15740000 {
		status = "disabled";
	};

	dwmmc2@15560000 {
		vdd_vmmc-supply = <&ldo25_reg>;
		vqmmc-supply = <&ldo2_reg>;
	};
};
