CONFIG_CHARGER_MAX77833=y
CONFIG_DEFAULT_MPTCP_SCHED="default"
CONFIG_ESE_P3_LSI=y
CONFIG_EXYNOS_MIPI_LLI_MPHY=y
CONFIG_EXYNOS_MIPI_LLI=y
CONFIG_FUELGAUGE_MAX77833=y
CONFIG_GPS_BCM47531=y
CONFIG_GPS_BCMxxxxx=y
CONFIG_HV_MUIC_MAX77833_AFC=y
CONFIG_LEDS_MAX77833_RGB=y
CONFIG_LINK_CONTROL_MSG_COMMAND=y
CONFIG_LINK_DEVICE_LLI=y
CONFIG_LINK_DEVICE_MEMORY=y
CONFIG_LINK_DEVICE_SPI=y
CONFIG_LINK_DEVICE_WITH_SBD_ARCH=y
CONFIG_LINK_POWER_MANAGEMENT_WITH_FSM=y
CONFIG_LINK_POWER_MANAGEMENT=y
CONFIG_MFD_MAX77833=y
CONFIG_MIPI_LLI=y
CONFIG_MOTOR_DRV_MAX77833=y
CONFIG_MPTCP=y
CONFIG_MUIC_MAX77833_SHAKEID_WA=y
CONFIG_MUIC_MAX77833=y
CONFIG_REGULATOR_MAX77833=y
CONFIG_SEC_MODEM_V1=y
CONFIG_SEC_NFC_IF_I2C=y
CONFIG_SEC_NFC_LDO_CONTROL=y
CONFIG_SEC_NFC_PRODUCT_N5=y
CONFIG_SEC_NFC=y
CONFIG_SENSORS_SSP_BBD=y
CONFIG_SENSORS_SSP_LPS25H=y
CONFIG_SENSORS_SSP_MPU6500=y
CONFIG_SENSORS_SSP_SX9306=y
CONFIG_SENSORS_SSP_YAS537=y
CONFIG_TCP_CONG_LIA=y
CONFIG_TCP_CONG_OLIA=y
CONFIG_TCP_CONG_WVEGAS=y
CONFIG_TDMB_FC8080=y
CONFIG_TDMB_SLSI=y
CONFIG_TDMB_SPI=y
CONFIG_TDMB_VENDOR_FCI=y
CONFIG_TDMB=y
CONFIG_UMTS_MODEM_SS333=y
CONFIG_WLAN_REGION_CODE=201
